@import 'tailwindcss';
@import './button/filled-button.css';
@import './button/outline-button.css';
@import './button/plain-button.css';

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-button-disabled: var(--color-button-disabled);

  --color-button-filled-background: var(--color-button-filled-background);
  --color-button-filled-foreground: var(--color-button-filled-foreground);
  --color-button-filled-border: var(--color-button-filled-border);
  --color-button-filled-hover: var(--color-button-filled-hover);

  --color-button-outline-background: var(--color-button-outline-background);
  --color-button-outline-foreground: var(--color-button-outline-foreground);
  --color-button-outline-border: var(--color-button-outline-border);
  --color-button-outline-hover: var(--color-button-outline-hover);

  --color-button-plain-foreground: var(--color-button-plain-foreground);
  --color-button-plain-hover: var(--color-button-plain-hover);

  --color-button-tool-background: var(--color-button-tool-background);
  --color-button-tool-foreground: var(--color-button-tool-foreground);
  --color-button-tool-border: var(--color-button-tool-border);
  --color-button-tool-hover: var(--color-button-tool-hover);

  --color-form-field-background: var(--color-form-field-background);
  --color-form-field-text-disabled: var(--color-form-field-text-disabled);
  --color-form-field-border: var(--color-form-field-border);

  --color-recipe-type-background: var(--color-recipe-type-background);
  --color-recipe-type: var(--color-recipe-type);
  --color-recipe-type-hover: var(--color-recipe-type-hover);
  --color-recipe-type-muted: var(--color-recipe-type-muted);

  --button-font-size: var(--button-font-size);
}

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(0, 0%, 0%);

  --color-button-disabled: hsl(0, 0%, 45%);

  --color-button-filled-background: hsl(34, 62%, 50%);
  --color-button-filled-foreground: hsl(0, 0%, 0%);
  --color-button-filled-border: hsl(34, 78%, 20%);
  --color-button-filled-hover: hsl(34, 62%, 30%);

  --color-button-outline-background: hsl(34, 78%, 0%);
  --color-button-outline-foreground: hsl(0, 0%, 100%);
  --color-button-outline-border: hsl(0, 0%, 0%);
  --color-button-outline-hover: hsl(0, 0%, 39%);

  --color-button-plain-foreground: hsl(0, 0%, 0%);
  --color-button-plain-hover: hsl(0, 0%, 80%);

  --color-button-tool-background: hsl(242, 100%, 20%);
  --color-button-tool-foreground: hsl(0, 0%, 100%);
  --color-button-tool-border: hsl(242, 100%, 50%);
  --color-button-tool-hover: hsl(242, 100%, 40%);

  --color-form-field-background: hsl(0, 0%, 90%);
  --color-form-field-text-disabled: hsl(0, 0%, 65%);
  --color-form-field-border: hsl(0, 0%, 50%);

  --color-recipe-type-background: hsl(120, 33%, 92%);
  --color-recipe-type: hsl(0, 0%, 0%);
  --color-recipe-type-hover: hsl(0, 0%, 65%);
  --color-recipe-type-muted: hsl(0, 0%, 80%);

  --button-font-size: 12pt;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(0, 0%, 2%);
    --color-foreground: hsl(0, 0%, 100%);

    --color-button-disabled: hsl(0, 0%, 45%);

    --color-button-filled-background: hsl(34, 62%, 20%);
    --color-button-filled-foreground: hsl(0, 0%, 100%);
    --color-button-filled-border: hsl(34, 62%, 50%);
    --color-button-filled-hover: hsl(34, 62%, 40%);

    --color-button-outline-background: hsl(34, 78%, 20%);
    --color-button-outline-foreground: hsl(0, 0%, 100%);
    --color-button-outline-border: hsl(0, 0%, 100%);
    --color-button-outline-hover: hsl(0, 0%, 39%);

    --color-button-plain-foreground: hsl(0, 0%, 100%);
    --color-button-plain-hover: hsl(0, 0%, 25%);

    --color-button-tool-background: hsl(242, 100%, 20%);
    --color-button-tool-foreground: hsl(0, 0%, 100%);
    --color-button-tool-border: hsl(242, 100%, 50%);
    --color-button-tool-hover: hsl(242, 100%, 40%);

    --color-form-field-background: hsl(0, 0%, 0%);
    --color-form-field-text-disabled: hsl(0, 0%, 65%);
    --color-form-field-border: hsl(0, 0%, 20%);

    --color-recipe-type-background: hsl(116, 100%, 3%);
    --color-recipe-type: hsl(105, 100%, 34%);
    --color-recipe-type-hover: hsl(116, 100%, 10%);
    --color-recipe-type-muted: hsl(0, 0%, 30%);

    --test: hsl(33, 71%, 22%);
  }
}

@media (hover: none) {
  * {
    -webkit-tap-highlight-color: transparent;
    --color-button-filled-hover: transparent;
    --color-button-outline-hover: transparent;
    --color-button-plain-hover: transparent;
    --color-button-tool-hover: transparent;
    --color-recipe-type-hover: transparent;
  }
}

body {
  @apply bg-background text-foreground;
}

h1 {
  @apply text-4xl font-bold tracking-tight;
}

h2 {
  @apply text-2xl font-semibold tracking-tight;
}

h3 {
  @apply text-lg font-medium leading-4;
}

p {
  @apply leading-4;
}
