@utility base-button {
  appearance: none;
  text-decoration: none;
  font-weight: 600;
  font-size: theme(--button-font-size);
  line-height: 1;

  cursor: pointer;

  &:active:not(:disabled) {
    @apply translate-x-px translate-y-px;
  }
}
